* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #A306B6; */
    background: linear-gradient(23deg, rgba(246,87,148,1) 27%, rgba(163,6,182,1) 77%);
    background-repeat: no-repeat;
    height: 100%;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 150px;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin: 25px 0;
    width: 100%;
    font-size: 3rem;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -120px;
    
}

.title img {
    width: 200px;
}

h2 {
    font-size: 2rem;
    font-weight: bold
}

.logo {
    display: flex;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.quiz-container {
    text-align: center;
    background-color: rgb(201, 200, 200);
    border: 3px solid black;
    border-radius: 10px;
    height: 550px;
    width: 900px;
    box-shadow: 0px 0px 17px 5px #000000;
}

.start-quiz {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    margin-top: 20px;
}

.start-quiz-timer-container {
    display: flex;
    justify-content: space-evenly;
}

.start-quiz-container {
    display: flex;
    justify-content: center;
}

#start-quiz {
    background-color: black;
    color: white;
    width: 450px;
    height: 60px;
    border-radius: 20px;
    font-size: 2rem;
}

.timer-container {
    display: flex;
    padding-left: 20px;

}

#timer {
    background-color: red;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 20px;

}

#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.answer-row {
    display: flex;
    justify-content: center;
}

#question {
    margin-top: 20px;
}


.answer-btn {
    margin: 10px 23px;
    font-size: 2.3rem;
    font-weight: bold;
    width: 400px;
    height: 100px;
    border-radius: 50px;
    /* background-color:  #F65794; */
    background: linear-gradient(225deg, rgba(246,87,148,1) 27%, rgba(163,6,182,1) 77%);
    color: rgb(0, 0, 0);
    border: 3px solid black;
}

/* .answer-btn:active {
    background: linear-gradient(58deg, rgb(87, 201, 246) 32%, rgb(118, 20, 247) 77%);
} */
.answer-btn:hover {
    box-shadow: 5px 5px 16px 4px #000000;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#number-question {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color:  #a406b6;
    margin-left: 50px;
    border: 2px solid black;
    font-size: 1.2rem;
}

#next-question {
    background-color: black;
    color: white;
    font-size: 1.7rem;
    width: 350px;
    height: 50px;
    border-radius: 20px;
}

#score {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color:  #a406b6;
    margin-right: 50px;
    border: 2px solid black;
    font-size: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
}

.my-team {
    text-decoration: underline;
}

.our-name {
    color: #A306B6;
    margin-top: 18px;
}

@media screen and (max-width: 992px) {

html {
    height: auto;
}
header { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 8rem;
    margin: 0;
    margin-top: 10px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.title img {
    width: 15rem;
}
#question {
    margin-top: 10px;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.3rem;
}
.quiz-container {
    text-align: center;
    height: 37rem;
    width: 80%;
    border-radius: 25px;
    margin: 0;
}
.start-quiz {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
#start-quiz {
    font-size: 1.5rem;
    margin: 0 5px;
}
.timer-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}
#question-container {
    margin: 0;
}
.answer-btn {
    height: 3rem;
    width: 75vw;
    font-size: 1.5rem;
}
section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 10px;
    margin: 0;
}
#number-question {
    width: 100px;
    height: 50px;
    font-size: 1rem;
    margin: 0;
}
#next-question {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
    /* grid-area: 2 / 2 ; */
    background-color: black;
    color: white;
    font-size: 1.2rem;
    width: 75vw;
    height: 60px;
    border-radius: 20px;
}
#score {
    grid-row-start: 2;
    grid-row-end: 1;
    height: 50px;
    width: 100px;
    border-radius: 40px;
    font-size: 1rem;
    margin: 0;
}

footer {
    position: relative;
    margin-top: 50px;
}
}
@media screen and (max-width: 818px) {

    .quiz-container {
        height: 38rem;
    }
}
@media screen and (max-width: 452px) {

    .quiz-container {
        height: 42rem;
    }

    .answer-btn{
        height: 4rem;
    }
}